@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400);

#contenido{
	background-color:#000000;
	width:960px;
	margin:0 auto 0 auto;
	font-family:Arial, Helvetica, sans-serif;
}

#bloque_1{
	background-color:#FFFFFF;
	float:left;
	height:320px;
	width:320px;
}
#bloque_2{
	background-color:#69C6CD;
	float:left;	
	height:320px;
	width:320px;	
}

	.bloque_2{
		margin:10px;
		height:300px;
		width:300px;
		font-size:14px;
		font-weight:bold;
		font-family: 'Source Sans Pro', sans-serif;	
		font-weight: 300; 				
		color:#FFFFFF;	
		background:#69C6CD;	
		text-align:center;
		display:table-cell;
		vertical-align:middle;	
	}

#bloque_3{
	background-color:#FFFFFF;
	float:left;	
	height:320px;
	width:320px;	
}
	.bloque_3{
		margin:10px;
		height:300px;
		width:300px;
		font-weight:bold;
		font-family: 'Source Sans Pro', sans-serif;	
		font-weight: 200;		
		color:#FFFFFF;		
		text-align:center;
		display:table-cell;
		vertical-align:middle;	
	}
	.info_bloque3_1{
		font-size:16px;
		color:#6AC4CB;
	}
	.info_bloque3_2{
		font-size:16px;
		color:#000000;
	}
	
	.contenido_bloques{
		margin:10px;
		height:300px;
		width:300px;
		color:#FFFFFF;		
		text-align:center;
		display:table-cell;
		vertical-align:top;	
	}	
	.titulos_bloques{
		font-size:45px;
		font-weight:bold;	
		font-family: 'Source Sans Pro', sans-serif;	
		font-weight: 400; 		
	}	
	
	.subtitulos_bloques{
		font-size:48px;
		font-weight:normal;	
		font-family: 'Source Sans Pro', sans-serif;	
		font-weight: 300; 
	}		

#bloque_4{
	background-color:#AC2239;
	background-image:url(../../images/TBF_branding-19_320.jpg);
	float:left;	
	height:320px;	
	width:320px;	
}
#bloque_5{
	background-color:#A17653;
	background-image:url(../../images/TBF_branding_20_320.jpg);	
	float:left;	
	height:320px;	
	width:320px;	
}
#bloque_6{
	background-color:#B7AB9B;
	background-image:url(../../images/TBF_branding_21_320.jpg);		
	float:left;	
	height:320px;	
	width:320px;	
}
#bloque_7{
	background-color:#D08158;
	background-image:url(../../images/TBF_branding_22_320.jpg);		
	float:left;	
	height:320px;	
	width:320px;	
}
#bloque_8{
	background-color:#79B1D2;		
	float:left;	
	height:320px;
	width:320px;		
}
#bloque_9{
	background-color:#AEC3C6;
	float:left;	
	height:320px;
	width:320px;		
}

@media screen and (min-width: 200px) and (max-width: 639px){
	#contenido{
	background-color:#000000;
	width:320px;
	margin:0 auto 0 auto;
	font-family:Arial, Helvetica, sans-serif;	
	}
}

@media screen and (min-width: 640px) and (max-width: 959px){
#contenido{
	background-color:#000000;
	width:640px;
	margin:0 auto 0 auto;
	font-family:Arial, Helvetica, sans-serif;	
	}
}